.liste
{
    list-style: none;
    color: darkslateblue;
}

.langues
{
    color: cornflowerblue;
}

body
{
    color: rgb(56, 26, 56);
    background-color: rgb(227, 248, 246);
}

.photo
{
    text-align: center;
    border: 10px solid;
    border-color: black;
}